<h1> Welcome to MISTER COCKTAIL </h1>


<% @cocktails.each do |cocktail|%>
  <%= cocktail.name %>
  <br>
  <%= link_to "Details", cocktail_path(cocktail) %>
  <hr>
<%end%>

<%= link_to "Add Cocktail", new_cocktail_path(@cocktail) %>
